### Android/Gradle
.gradle/
build/
app/build/
captures/
.externalNativeBuild/
.cxx/
local.properties
*.apk
*.ap_
*.aab

### IntelliJ / Android Studio
.idea/
app/.idea/
*.iml
*.ipr
*.iws

### Kotlin/Java
.kotlin/
out/

### OS files
.DS_Store
Thumbs.db

### Logs
*.log

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
